body{
    background: beige url('imagens/fundo.png');
    font: 16px Arial, Helvetica, Sans-serif;
}
#principal{ 
   
    width: 900px;
    height: ;
}
#menu{ 
    text-align: center;
    background-color: silver;
    padding: 18px;

}
a{
    color: rgb(42, 43, 95);
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}
#conteudo{
    text-align: left;
    background-color: rgb(241, 218, 183);
    padding: 10px;

}
#rodape{
    text-align:center;
}
h1{
    color: rgb(128, 94, 0);
}
.img-campanha{
    border: 10px solid #c3c3ae;
}
/*asdfasdfasdf*/